# ArgoCD Application: kube-prometheus-stack (Prometheus, Grafana, Alertmanager, ...)
# Apply: kubectl apply -f apps/argocd-applications/
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/devopsdpua/curs_k8s
    path: apps/monitoring/kube-prometheus-stack
    targetRevision: HEAD
    helm:
      releaseName: prometheus-stack
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
